<form method="post">
    <input name="name" placeholder="Name" />
    <textarea name="comments"></textarea>
    <input name="rating" placeholder="Rating" />
    <button type="submit">Submit</button>
</form>

<h3>@ViewData["Message"]</h3>