@model List<WebApplication3.Models.ContactInfo>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Department</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.EmailId</td>
            <td>@item.Company?.CompanyName</td>
            <td>@item.Department?.DepartmentName</td>
        </tr>
    }
</table>