body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d0dfed;
}

header {
    background-color: #aac2e8;
    color: white;
    padding: 20px;
    text-align: center;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    padding: 10px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    flex: 0 0 30%;
}

.card h3 {
    margin-top: 0;
}

.card button {
    padding: 8px 12px;
    background-color: #3463c9;
    color: white;
    border: none;
}

.card button:hover {
    background-color: #1e40af;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
    }
}
