<form method="post">
    <input name="name" placeholder="Name" />
    <input name="age" placeholder="Age" />
    <input name="course" placeholder="Course" />
    <button type="submit">Submit</button>
</form>