body {
    background-color: lightblue;
    font-size: 20px;
    font-family: Arial;
}

.navbar {
    display: flex;
    gap: 20px;
}

@media (max-width: 600px) {
    body {
        background-color: lightgreen;
        font-size: 14px;
    }

    .navbar {
        flex-direction: column;
    }
}
