.register-wrapper {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  width: 320px;
  padding: 45px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.register-box input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.register-box button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.success {
  color: green;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}