body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: #1e293b;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
}
.sidebar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #38bdf8;
    padding-left: 5px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f1f5f9;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 30%;
    background-color: white;
    border: 1px solid #d1d5db;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

@media (max-width: 768px) {

    .dashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        flex: 1 1 100%;
    }
}
