.hero-section {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://via.placeholder.com/1600x900");
    background-size: cover;
    background-position: center;
}

.btn-primary {
    background-color: #6f42c1;
    border: none;
}

.btn-primary:hover {
    background-color: #5a32a3;
}

.card-img-top{
height:300px;
object-fit:cover;
}