@model WebApplication2.Models.Product

<h2>Add Product</h2>

<form method="post">
    <input asp-for="Name" placeholder="Name" /><br />
    <input asp-for="Price" placeholder="Price" /><br />
    <input asp-for="Quantity" placeholder="Quantity" /><br />
    <button type="submit">Save</button>
</form>